<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="profilefeature"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'saleSchemeData.profileFeature' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sale-scheme-supplier-profile-feature-list />
    </mat-tab>
    <mat-tab label="sicp"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'saleSchemeData.sicp' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sale-scheme-supplier-sicp-list />
    </mat-tab>
</mat-tab-group>
