<div class="lg:px-[70px] bg-[#042833] px-4 py-4">
    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-6">
        <div>
            <div class="text-[19px] font-semibold text-white">{{ 'footer.introduction' | translate }}</div>
            <div class="mt-4 text-[14px] leading-6">
                <a target="_blank" href="https://discovery.nextpro.io/" class="text-[#F9F6F6] no-underline">
                    <div>{{ 'footer.aboutUs' | translate }}</div>
                </a>
                <a target="_blank" href="/auth/register/become-buyer" class="text-[#F9F6F6] no-underline">
                    <div>{{ 'footer.becomeBuyer' | translate }}</div>
                </a>
                <a target="_blank" href="/auth/register/become-supplier" class="text-[#F9F6F6] no-underline">
                    <div>{{ 'footer.becomeSupplier' | translate }}</div>
                </a>
            </div>
        </div>

        <div>
            <div class="text-[19px] font-semibold text-white">{{ 'footer.procurementServices' | translate }}</div>
            <div class="mt-4 text-[14px] leading-6">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/xay-dung-chien-luoc-mua-hang/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.procurementStrategy' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dich-vu-quan-ly-mua-hang/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.managedService' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/quan-ly-bo-phan-mua-hang/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.procurementSystemManagement' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/trung-tam-dao-tao-nextpro/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.procurementEducationCenter' | translate }}</div>
                </a>
            </div>
        </div>

        <div>
            <div class="text-[19px] font-semibold text-white">{{ 'footer.information' | translate }}</div>
            <div class="mt-4 text-[14px] leading-6">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/tuyen-dung-nextpro/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.career' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/tin-tuc-va-kien-thuc-mua-hang/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.newsAndPress' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/tro-giup-cho-nguoi-mua/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.faq' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/quy-che-hoat-dong-nextpro-intelligence-pf/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.operationRegulation' | translate }}</div>
                </a>
            </div>
        </div>

        <div class="lg:block hidden">
            <div class="text-[19px] font-semibold text-white">{{ 'footer.contact' | translate }}</div>
            <div class="mt-4 text-[14px] leading-[23px] text-white">
                <div>{{ 'footer.nextInternational' | translate }}</div>
                <div>{{ 'footer.aoDaiTower' | translate }}</div>
                <div>{{ 'footer.address' | translate }}</div>
                <div>{{ 'footer.b/l' | translate }}</div>
            </div>
        </div>

        <div class="lg:block hidden">
            <div class="flex gap-2 items-center">
                <img src="/assets/icons/Logo-Footer.svg" alt="nextpro-logo" class="w-[150px]" />
                <div class="inline-block border-r border-[#97a4a8] h-[18px]"></div>
                <div class="text-[#97a4a8] lg:text-[14px] text-[15px]">The best find</div>
            </div>
            <div class="mt-1 text-[#a4a3a3] lg:text-[14px] text-[15px]">2020 NextPro - All rights reserved</div>
        </div>

        <div class="lg:block hidden">
            <div class="lg:text-[13px] text-[15px] flex lg:flex-col lg:gap-0 gap-20 mt-7 lg:leading-5">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-dich-vu/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.termsOfService' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/chinh-sach-bao-mat-quy-dinh-quyen-va-nghia-vu/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.privacy' | translate }}</div>
                </a>
            </div>
            <div class="mt-2 flex items-center gap-4">
                <a target="_blank" href="https://www.facebook.com/groups/procurementvietnam">
                    <img src="/assets/icons/facebook.svg" alt="" />
                </a>
                <a target="_blank" href="https://www.youtube.com/@nextpro-platform">
                    <img src="/assets/icons/youtube.svg" alt="" />
                </a>
                <a target="_blank" href="https://vn.linkedin.com/company/nextpro-platform">
                    <img src="/assets/icons/linkedin.svg" alt="" />
                </a>
            </div>
        </div>

        <div class="lg:block hidden">
            <div class="lg:text-[13px] text-[15px] mt-6 lg:eading-6">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/chinh-sach-dang-san-pham-nha-cung-cap/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.postingProductPolicy' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-dich-vu-yeu-cau-chao-gia/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.postingRfxPolicy' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-va-dieu-kien/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.termAndService' | translate }}</div>
                </a>
            </div>
        </div>

        <div class="lg:block hidden">
            <div class="flex flex-col gap-3">
                <a target="_blank" href="http://online.gov.vn/Home/WebDetails/77028">
                    <img src="/assets/icons/Image.svg" alt="nextpro-logo" class="w-[100px]" />
                </a>
                <a href="">
                    <img src="/assets/icons/IOS-App.svg" alt="nextpro-logo" class="w-[100px]" />
                </a>
                <a href="">
                    <img src="/assets/icons/Android-App.svg" alt="nextpro-logo" class="w-[100px]" />
                </a>
            </div>
        </div>
    </div>
    <div class="lg:hidden block text-[#F9F6F6] mt-6">
        <div class="text-[19px] font-semibold text-white">{{ 'footer.contact' | translate }}</div>
        <div class="mt-4 text-[14px]">
            <div>{{ 'footer.nextInternational' | translate }}</div>
            <div>{{ 'footer.aoDaiTower' | translate }}</div>
            <div>{{ 'footer.address' | translate }}</div>
            <div>{{ 'footer.b/l' | translate }}</div>
        </div>
    </div>
    <div class="lg:hidden block">
        <div class="mt-10 lg:flex justify-between items-center">
            <div>
                <div class="flex gap-2 items-center">
                    <img src="/assets/icons/Logo-Footer.svg" alt="nextpro-logo" class="w-[150px]" />
                    <div class="inline-block border-r border-[#97a4a8] h-[18px]"></div>
                    <div class="text-[#97a4a8] lg:text-[14px] text-[15px]">The best find</div>
                </div>
                <div class="mt-1 text-[#a4a3a3] lg:text-[14px] text-[15px]">2020 NextPro - All rights reserved</div>
            </div>
            <div class="lg:flex lg:gap-36">
                <div class="lg:text-[13px] text-[15px] flex lg:flex-col lg:gap-0 gap-20 mt-7 lg:leading-5">
                    <a
                        target="_blank"
                        href="https://discovery.nextpro.io/dieu-khoan-dich-vu/"
                        class="text-[#F9F6F6] no-underline"
                    >
                        <div>{{ 'footer.termsOfService' | translate }}</div>
                    </a>
                    <a
                        target="_blank"
                        href="https://discovery.nextpro.io/chinh-sach-bao-mat-quy-dinh-quyen-va-nghia-vu/"
                        class="text-[#F9F6F6] no-underline"
                    >
                        <div>{{ 'footer.privacy' | translate }}</div>
                    </a>
                </div>
                <div class="lg:text-[13px] text-[15px] mt-6 lg:leading-7">
                    <a
                        target="_blank"
                        href="https://discovery.nextpro.io/chinh-sach-dang-san-pham-nha-cung-cap/"
                        class="text-[#F9F6F6] no-underline"
                    >
                        <div>{{ 'footer.postingProductPolicy' | translate }}</div>
                    </a>
                    <a
                        target="_blank"
                        href="https://discovery.nextpro.io/dieu-khoan-dich-vu-yeu-cau-chao-gia/"
                        class="text-[#F9F6F6] no-underline"
                    >
                        <div>{{ 'footer.postingRfxPolicy' | translate }}</div>
                    </a>
                    <a
                        target="_blank"
                        href="https://discovery.nextpro.io/dieu-khoan-va-dieu-kien/"
                        class="text-[#F9F6F6] no-underline"
                    >
                        <div>{{ 'footer.termAndService' | translate }}</div>
                    </a>
                </div>
                <div class="mt-2 flex items-center gap-4">
                    <a target="_blank" href="https://www.facebook.com/groups/procurementvietnam">
                        <img src="/assets/icons/facebook.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://www.youtube.com/@nextpro-platform">
                        <img src="/assets/icons/youtube.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://vn.linkedin.com/company/nextpro-platform">
                        <img src="/assets/icons/linkedin.svg" alt="" />
                    </a>
                </div>
                <div class="flex flex-col gap-3 mt-4">
                    <a target="_blank" href="http://online.gov.vn/Home/WebDetails/77028">
                        <img src="/assets/icons/Image.svg" alt="nextpro-logo" class="w-[130px]" />
                    </a>
                    <a href="">
                        <img src="/assets/icons/IOS-App.svg" alt="nextpro-logo" class="w-[130px]" />
                    </a>
                    <a href="">
                        <img src="/assets/icons/Android-App.svg" alt="nextpro-logo" class="w-[130px]" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
