<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="main"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'payment.payment' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-payment-supplier-main-list />
    </mat-tab>
    <mat-tab label="deposit"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'payment.deposit' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-payment-supplier-deposit-list />
    </mat-tab>
</mat-tab-group>
