<div class="flex items-center gap-2 mb-2 sticky top-0 z-[101] bg-[#01313f] text-white rounded-[4px]">
    <button mat-raised-button color="warn" (click)="onCloseDrawer()">
        <mat-icon class="!mr-0">close</mat-icon>
    </button>
    <div class="flex-1 text-center font-bold text-[20px]">
        {{
            (mode === 'CREATE' ? '' : 'Xem thông tin nhóm')
                | translate
                | uppercase
        }}
    </div>
</div>
<app-table [attr.name]="table.name" [columns]="table.config.columns" [data]="table.state.data" />
<button mat-raised-button color="primary" class="!absolute bottom-4 right-4" (click)="removeDetaiFromGroup()"
[disabled]="!checkDetai">
    Gỡ đề tài
</button>