<section>
    <nextpro-user-navbar />
</section>
<section class="lg:min-h-screen lg:mt-4 lg:mb-6 mt-5 mb-10 lg:px-32 px-4">
    <div
        class="lg:text-lg text-base underline decoration-2 decoration-[#15677F] underline-offset-8 font-semibold cursor-pointer"
    >
        {{ 'customer-support.cancel-order.title' | translate }}
    </div>
    @for (item of orderInfo; track item) {
        <div [id]="item.id" class="my-8 lg:text-base text-sm">
            <div class="flex lg:flex-row flex-col lg:justify-between">
                <div class="font-semibold">
                    {{ item.productCode }}
                </div>
                <div class="flex lg:gap-x-8 justify-between mt-2">
                    <div>
                        {{ 'customer-support.status' | translate }}:
                        <span class="font-semibold">{{ item.status }}</span>
                    </div>
                    <div>{{ item.receivedDate }} | {{ item.receivedTime }}</div>
                </div>
            </div>
            <div class="mt-4 lg:line-clamp-2 line-clamp-3">
                {{ item.description }}
            </div>
            <div class="mt-5">
                {{ 'customer-support.total-price' | translate }}:
                <span class="font-semibold">
                    {{ item.totalPrice }}
                </span>
            </div>
            <div class="lg:mt-10 mt-5 lg:flex items-center">
                <div class="hidden lg:flex flex-col mt-3 gap-y-[19px]">
                    <div class="w-60">{{ 'customer-support.product-service-name' | translate }}</div>
                    <div class="w-60">{{ 'customer-support.number-of-orders' | translate }}</div>
                    <div class="w-60">{{ 'customer-support.unit' | translate }}</div>
                    <div class="w-60">{{ 'customer-support.delivery-date' | translate }}</div>
                </div>
                @for (group of inputGroups; track group; let i = $index) {
                    <div>
                        <div class="text-center lg:mt-[-20px] mt-6 mb-3 font-semibold">{{ group.title }}</div>
                        <div class="flex flex-col gap-y-2.5 lg:mx-5">
                            <div class="lg:hidden block text-sm">
                                {{ 'customer-support.product-service-name' | translate }}
                            </div>
                            <input
                                [(ngModel)]="group.productServiceName"
                                type="text"
                                class="border border-[#A9A5A5] lg:w-60 w-full h-8"
                            />
                            <div class="lg:hidden block text-sm">
                                {{ 'customer-support.number-of-orders' | translate }}
                            </div>
                            <input
                                [(ngModel)]="group.numberOfOders"
                                type="text"
                                class="border border-[#A9A5A5] lg:w-60 w-full h-8"
                            />
                            <div class="lg:hidden block text-sm">
                                {{ 'customer-support.unit' | translate }}
                            </div>
                            <input
                                [(ngModel)]="group.unit"
                                type="text"
                                class="border border-[#A9A5A5] lg:w-60 w-full h-8"
                            />

                            <div class="lg:hidden block text-sm">
                                {{ 'customer-support.delivery-date' | translate }}
                            </div>
                            <input
                                [(ngModel)]="group.deliveryDate"
                                type="text"
                                class="border border-[#A9A5A5] lg:w-60 w-full h-8"
                            />
                        </div>
                    </div>
                }
                <button
                    mat-icon-button
                    matTooltip="Thêm sản phẩm"
                    (click)="addInputGroup()"
                    [disabled]="inputGroups.length >= 2"
                    [class.opacity-50]="inputGroups.length >= 2"
                    [class.pointer-events-none]="inputGroups.length >= 2"
                >
                    <img
                        src="assets/icons/add.svg"
                        alt="Add"
                        [class.grayscale]="inputGroups.length >= 2"
                        class="size-5"
                    />
                </button>
            </div>
        </div>
    }
    <div class="mt-6 flex lg:flex-row flex-col lg:items-center lg:gap-x-40">
        <div class="font-semibold">{{ 'customer-support.cancel-order.reason' | translate }}</div>
        <app-form [form]="form" [attr.name]="form.name" />
    </div>
    <div class="lg:my-10 mt-6 flex lg:justify-end justify-around lg:gap-x-4">
        <button mat-stroked-button class="!border-[#15677F] lg:w-[130px] w-[165px]">
            <div class="pt-[2px] font-semibold text-[#15677F] relative z-10">
                {{ 'product.create.submit-btn.cancel' | translate }}
            </div>
        </button>
        <button mat-raised-button color="primary" class="lg:w-[130px] w-[165px]">
            <div class="pt-[2px] font-semibold relative z-10">
                {{ 'product.create.submit-btn.confirm' | translate }}
            </div>
        </button>
    </div>
</section>

<section>
    <nextpro-user-detailed-footer />
</section>
