@if (loadingService.checkLoading(['getModule'])) {
    <app-loading [backdrop]="true" />
}
<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer [disableClose]="true" [opened]="!!detail" mode="over" position="end" class="!w-full">
        @if (detail) {
            <nextpro-admin-user-guide-buyer-module-detail
                [mode]="detail.mode"
                [data]="detail.data"
                [onCloseDrawer]="handleCloseDetailDrawer"
                [refetch]="table.refetch"
            />
        }
    </mat-drawer>
    <mat-drawer class="!w-auto" mode="side" position="start" [disableClose]="true" [opened]="table.config.showFilter">
        <app-filter
            formClass="grid grid-cols-2 gap-2"
            [onFilter]="table.handleFilter"
            [formConfig]="table.config.filterForm"
            [onCloseDrawer]="table.toggleFilterDrawer"
        />
    </mat-drawer>
    <mat-drawer-content>
        <app-table
            [attr.name]="table.name"
            [isLoading]="loadingService.checkLoading(['getModules'])"
            [extendHeight]="227"
            [columns]="table.config.columns"
            [data]="table.state.data"
            [pagination]="table.state.pagination"
            [onSelectionInit]="table.onSelectionInit"
            [onShowFilter]="table.toggleFilterDrawer"
            [onSort]="table.handleSort"
            [onPageChange]="table.handlePageChange"
        />
        @if (table.state.selection) {
            <div class="footer-fixed">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="handleUpdateStatus(true)"
                    [disabled]="!table.state.selection.hasValue()"
                >
                    <mat-icon>check</mat-icon>
                    {{ 'button.activate' | translate | uppercase }}
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="handleUpdateStatus(false)"
                    [disabled]="!table.state.selection.hasValue()"
                >
                    <mat-icon>close</mat-icon>
                    {{ 'button.deactivate' | translate | uppercase }}
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="handleCreate()"
                    [disabled]="table.state.selection.hasValue()"
                >
                    <mat-icon>add</mat-icon>
                    {{ 'button.create' | translate | uppercase }}
                </button>
            </div>
        }
    </mat-drawer-content>
</mat-drawer-container>
