<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer [disableClose]="true" [opened]="!!detail" mode="over" position="end" class="!w-full">
        @if (detail) {}
    </mat-drawer>
    <mat-drawer class="!w-auto" mode="side" position="start" [disableClose]="true" [opened]="table.config.showFilter">
        <app-filter
            formClass="grid grid-cols-2 gap-2"
            [onFilter]="table.handleFilter"
            [formConfig]="table.config.filterForm"
            [onCloseDrawer]="table.toggleFilterDrawer"
        />
    </mat-drawer>
    <mat-drawer-content>
        <app-form [form]="form" [attr.name]="form.name" formClass="grid grid-cols-2 gap-2 mt-4" />
        <div class="flex justify-end mt-4">
            <button mat-raised-button color="primary" (click)="handleSaveTextEditor()">
                {{ 'button.submit' | translate }}
            </button>
        </div>
        <app-table
            [attr.name]="table.name"
            [isLoading]="loadingService.checkLoading(['getUserSupplierSicps'])"
            [extendHeight]="180"
            [columns]="table.config.columns"
            [data]="table.state.data"
            [pagination]="table.state.pagination"
            [onSelectionInit]="table.onSelectionInit"
            [onShowFilter]="table.toggleFilterDrawer"
            [onSort]="table.handleSort"
            [onPageChange]="table.handlePageChange"
        />
    </mat-drawer-content>
</mat-drawer-container>
