<div class="text-[#fff] bg-opacity-25 bg-gray-500 w-full min-h-[360px]">
    <div class="pt-16 flex flex-col justify-center items-center gap-8">
        <button mat-raised-button class="!bg-[#15677F] w-[280px]">
            <a href="/auth/register/become-buyer" class="no-underline">
                <div class="text-white pt-[2px]">{{ 'auth.register.becomeBuyer-btn' | translate }}</div>
            </a>
        </button>
        <hr class="w-[280px] border-[#fff] border-opacity-25" />
        <button mat-raised-button class="!bg-[#15677F] w-[280px]">
            <a href="/auth/register/become-supplier" class="no-underline">
                <div class="text-white pt-[2px]">{{ 'auth.register.becomeSupplier-btn' | translate }}</div>
            </a>
        </button>
    </div>
</div>
