<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="main">
        <ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.promotionList' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-promotion-list />
    </mat-tab>
    <mat-tab label="history">
        <ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.promotionHistory.promotionHistory' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-promotion-history-list />
    </mat-tab>
</mat-tab-group>
