<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="family"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.familyCode' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-family-codes-list />
    </mat-tab>
    <mat-tab label="cluster"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.clusterCode' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-cluster-code-list />
    </mat-tab>
    <mat-tab label="subcluster"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.subClusterCode' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sub-cluster-code-list />
    </mat-tab>
    <mat-tab label="description"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'masterData.descriptionCode' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-description-code-list />
    </mat-tab>
</mat-tab-group>
