<div
    class="border lg:mx-20 my-6 relative flex flex-col py-4 shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]"
>
    <div class="px-10">
        <div class="mb-4 font-semibold">{{ 'products-listing.filter.filter-by' | translate }}</div>
        <button type="button" class="absolute top-3 right-3" (click)="toggleModal()">
            <img src="/assets/icons/close-svgrepo-com.svg" alt="" class="w-5" />
        </button>
    </div>
    <div class="grid grid-cols-3 items-center gap-4 mb-4 px-10">
        <div>
            <div class="text-sm font-semibold">{{ 'supplier-listing.filter.staff.title' | translate }}</div>
            <app-form [form]="staffForm" [attr.name]="staffForm.name" class="text-filter" formClass="flex flex-col" />
        </div>
        <div>
            <div class="text-sm font-semibold">
                {{ 'supplier-listing.filter.customer-segmentation.title' | translate }}
            </div>
            <app-form
                [form]="segmentForm"
                [attr.name]="segmentForm.name"
                class="text-filter"
                formClass="flex flex-col"
            />
        </div>
        <div>
            <div class="text-sm font-semibold">
                {{ 'supplier-listing.filter.supplier-areas-of-interest.title' | translate }}
            </div>
            <app-form
                [form]="industryForm"
                [attr.name]="industryForm.name"
                class="text-filter"
                formClass="flex flex-col"
            />
        </div>
        <div>
            <div class="text-sm font-semibold">{{ 'supplier-listing.filter.payment.title' | translate }}</div>
            <app-form
                [form]="paymentForm"
                [attr.name]="paymentForm.name"
                class="text-filter"
                formClass="flex flex-col"
            />
        </div>
        <div>
            <div class="text-sm font-semibold">{{ 'supplier-listing.filter.country.title' | translate }}</div>
            <app-form
                [form]="countryForm"
                [attr.name]="countryForm.name"
                class="text-filter"
                formClass="flex flex-col"
            />
        </div>
        <div>
            <div class="flex justify-end gap-5 mt-4">
                <button mat-stroked-button (click)="clearFilters()" class="!border-[#15677F] !text-[#15677F] w-[170px]">
                    {{ 'products-listing.filter.reset-btn' | translate }}
                </button>
                <button
                    mat-raised-button
                    (click)="onSubmit()"
                    class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F] !text-[#ffffff] w-[170px]"
                >
                    {{ 'products-listing.filter.search-btn' | translate }}
                </button>
            </div>
        </div>
    </div>
    <mat-divider class="!w-full" />
    <div class="my-5 px-10">
        <div class="text-sm font-semibold">{{ 'supplier-listing.filter.sort-by.title' | translate }}</div>
        <app-form
            [form]="sortForm"
            [attr.name]="sortForm.name"
            class="text-filter"
            formClass="flex flex-row justify-between"
        />
    </div>
    <mat-divider class="!w-full" />
    <div class="text-sm font-semibold my-5 px-10">{{ 'supplier-listing.filter.related-industry' | translate }}</div>
</div>
