<div class="scrolling-container" id="text-scrolling">
    <div class="scrolling-text--inner direction-left" style="--marquee-speed: 30s">
        <div class="scrolling-text">
            <div class="scrolling-text--item outline-text--true">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
        </div>

        <div class="scrolling-text">
            <div class="scrolling-text--item outline-text--true">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
            <div class="scrolling-text--item outline-text--false">
                <span>FLASH SALE - SẢN PHẨM NỔI BẬT - &nbsp; </span>
            </div>
        </div>
    </div>
</div>
