<mat-nav-list>
    <div class="mb-5 flex justify-between items-center">
        <div class="text-lg font-semibold">{{ 'products-listing.filter.filter-by' | translate }}</div>
        <button type="button" (click)="closeBottomSheet()">
            <img src="/assets/icons/close-svgrepo-com.svg" alt="" class="w-5" />
        </button>
    </div>
    <div>
        <div class="font-semibold">{{ 'products-listing.filter.made-in.title' | translate }}</div>
        <app-form [form]="originForm" [attr.name]="originForm.name" class="text-filter" formClass="flex flex-col" />
    </div>
    <div>
        <div class="font-semibold">{{ 'products-listing.filter.payment.title' | translate }}</div>
        <app-form [form]="paymentForm" [attr.name]="paymentForm.name" class="text-filter" formClass="flex flex-col" />
    </div>
    <div class="mt-2">
        <div class="font-semibold">{{ 'products-listing.filter.transport.title' | translate }}</div>
        <app-form
            [form]="transportForm"
            [attr.name]="transportForm.name"
            class="text-filter"
            formClass="flex flex-col"
        />
    </div>
    <div class="mt-2">
        <div class="font-semibold">{{ 'products-listing.filter.warranty.title' | translate }}</div>
        <app-form [form]="warrantyForm" [attr.name]="warrantyForm.name" class="text-filter" formClass="flex flex-col" />
    </div>
    <div>
        <div class="font-semibold">{{ 'products-listing.filter.rating.title' | translate }}</div>
        <app-form [form]="ratingForm" [attr.name]="ratingForm.name" class="text-filter" formClass="flex flex-col" />
    </div>
    <mat-divider class="!w-full" />
    <div class="font-semibold my-6">{{ 'products-listing.filter.related-industry' | translate }}</div>
    <div class="flex justify-around mt-4 gap-4">
        <button mat-stroked-button (click)="clearFilters()" class="!border-[#15677F] !text-[#15677F] w-[170px]">
            {{ 'products-listing.filter.reset-btn' | translate }}
        </button>

        <button
            mat-raised-button
            (click)="onSubmit()"
            class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F] !text-[#ffffff] w-[170px]"
        >
            {{ 'products-listing.filter.search-btn' | translate }}
        </button>
    </div>
</mat-nav-list>
