<section class="mb-8">
    <nextpro-user-navbar />
</section>

<section>
    <div class="dashboard-container lg:container mx-auto flex gap-6">
        <app-sidebar></app-sidebar>
        <div class="container mx-auto p-4 ">
            <!-- Tiêu đề trang -->
            <h2 class="text-2xl font-bold mb-4">Đăng ký Đồ án</h2>

            <!-- Bảng danh sách đồ án -->
            <table class="min-w-full bg-white shadow-md rounded-lg ">
                <thead>
                    <tr class="[&_th]:text-nowrap">
                        <th class="py-2 px-4 border-b">Mã Đồ án</th>
                        <th class="py-2 px-4 border-b">Tên Đồ án</th>
                        <th class="py-2 px-4 border-b">Mô tả</th>
                        <th class="py-2 px-4 border-b">Giảng viên phụ trách</th>
                        <th class="py-2 px-4 border-b">Hành động</th>
                    </tr>
                </thead>
                <tbody class="[&_tr]:py-4 cursor-pointer " *ngIf="deTaiData?.data?.length > 0">
                    <!-- Dòng mẫu cho đồ án -->
                    <tr *ngFor="let deTai of deTaiData.data">
                        <td class="py-2 hover:text-blue-500 px-4 border-b text-center">{{deTai.madoan}}</td>
                        <td class="py-2 hover:text-blue-500 px-4 border-b text-center">{{deTai.tendoan}}</td>
                        <td class="py-2 hover:text-blue-500 px-4 border-b text-center whitespace-pre-wrap">{{deTai.mota}}</td>
                        <td class="py-2 hover:text-blue-500 px-4 border-b text-center">{{deTai.giangVienShortName}}</td>
                        <td class="py-2 px-4 border-b text-center">
                            <button 
                                class="bg-blue-500 text-white text-sm px-4 py-2 rounded hover:bg-blue-600"
                                (click)="onSubmit(deTai.id)" 
                                [disabled]="deTai.idnhom !== '' &&deTai.idnhom !== null">
                                {{ deTai.idnhom !== '' && deTai.idnhom !== null ? 'Đã được đăng ký' : 'Đăng ký đồ án' }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>