<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="main-account">
        <ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'account.supplier-accounts.mainAccounts' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-account-supplier-main-account-list />
    </mat-tab>
    <mat-tab label="sub-account">
        <ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'account.supplier-accounts.subAccounts' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-account-supplier-sub-account-list />
    </mat-tab>
</mat-tab-group>
