<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="module"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'user-guide.modules' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-user-guide-supplier-module-list />
    </mat-tab>
    <mat-tab label="course"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'user-guide.course' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-user-guide-supplier-course-list />
    </mat-tab>
</mat-tab-group>
