<div class="sidebar w-64 bg-gray-100 p-5 shadow-md">
    <h3 class="text-lg font-semibold mb-3">TRANG CHỦ</h3>
    <ul class="space-y-2">
        <li class="active">
            <a href="/dashboard" class="flex items-center text-orange-500">
                <i class="icon mr-2"></i>Thông tin sinh viên
            </a>
        </li>

    </ul>
    <h3 class="text-lg font-semibold mt-5 mb-3">HỌC TẬP</h3>
    <ul class="space-y-2">
        <li>
            <a href="/project-registration" class="flex items-center text-gray-700 hover:text-orange-500">
                <i class="icon mr-2"></i>Đăng ký đồ án
            </a>
        </li>
        <li>
            <a href="/group" class="flex items-center text-gray-700 hover:text-orange-500">
                <i class="icon mr-2"></i>Nhóm đồ án
            </a>
        </li>
        <li>
            <a href="/group-registration" class="flex items-center text-gray-700 hover:text-orange-500">
                <i class="icon mr-2"></i>Đăng kí nhóm
            </a>
        </li>
    </ul>
    <h3 class="text-lg font-semibold mt-5 mb-3">KHÁC</h3>
    <ul class="space-y-2">
        <li>
            <a href="/notification" class="flex items-center text-gray-700 hover:text-orange-500">
                <i class="icon mr-2"></i>Thông báo
            </a>
        </li>
    </ul>
</div>