<section>
    <nextpro-user-navbar />
</section>
<section class="lg:px-24">
    @if (loadingService.checkLoading(['getBuyer'])) {
        <app-loading />
    }
    <div class="lg:hidden block">
        <img src="/assets/images/coverImage.png" alt="" class="h-32" />
    </div>
    <div class="px-4">
        <div>
            <div class="lg:mt-4 lg:block hidden">
                <img src="/assets/images/coverImage.png" alt="" />
            </div>
            <div class="lg:px-12 flex lg:flex-row flex-col items-center lg:gap-x-6">
                <img
                    [src]="buyer?.companyLogo || '/assets/images/default_product_image.png'"
                    (error)="handleImageError($event)"
                    alt=""
                    class="lg:border-[3px] border lg:border-[#15677F] bg-white rounded-full lg:size-52 size-24 mt-[-50px]"
                />
                <div class="flex flex-col mt-4 lg:gap-y-10">
                    <div class="lg:text-3xl text-[#15677F] font-bold">
                        {{ buyer?.companyFullName }}
                    </div>
                    <div
                        class="mt-2 lg:mt-0 flex flex-wrap lg:gap-x-3 gap-x-2 lg:text-base text-xs items-center justify-center lg:justify-start"
                    >
                        <p>{{ buyer?.username }}</p>
                        <img src="/assets/icons/dot.svg" alt="" class="lg:size-2.5 size-1" />
                        <p>{{ 'supplier-profile.registered' | translate }} {{ buyer?.created | date: 'dd-MM-yyyy' }}</p>
                        <img src="/assets/icons/dot.svg" alt="" class="lg:size-2.5 size-1" />
                        <p>{{ buyer?.profileFeatures?.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group class="mt-6" mat-stretch-tabs="false" mat-align-tabs="start" syncTabsWithAnchor>
            <mat-tab label="basic-information">
                <ng-template mat-tab-label>
                    <img src="/assets/icons/Information.svg" alt="" class="w-6" />
                    <div class="font-semibold ml-2 text-sm text-[#15677f]">
                        {{ 'supplier-profile.tabs.basic-information.tab-header' | translate }}
                    </div>
                </ng-template>
                @if (basicInformation) {
                    <app-account-buyer-basic-information-form
                        [mode]="mode"
                        [data]="basicInformation"
                        [onSave]="onSubmitBasicInformation"
                        [showMainInfo]="false"
                    />
                }
            </mat-tab>
            <mat-tab label="upgrade-profile">
                <ng-template mat-tab-label>
                    <img src="/assets/icons/profile/upgrade-profile.svg" alt="" class="size-5" />
                    <div class="font-semibold ml-2 text-sm text-[#15677f]">
                        {{ 'supplier-profile.tabs.upgrade-profile.tab-header' | translate }}
                    </div>
                </ng-template>
                @if (profileFeature) {
                    <app-buyer-upgrade-profile [profileFeature]="profileFeature" [buyer]="buyer"/>
                }
            </mat-tab>
            <mat-tab label="sub-account">
                <ng-template mat-tab-label>
                    <img src="/assets/icons/profile/sub-profile.svg" alt="" class="size-5" />
                    <div class="font-semibold ml-2 text-sm text-[#15677f]">
                        {{ 'supplier-profile.tabs.sub-account.tab-header' | translate }}
                    </div>
                </ng-template>
                <!-- @if (subAccounts) {
                    <nextpro-user-buyer-profile-sub-account-list [data]="subAccounts" />
                } -->
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
