::ng-deep .p-carousel .p-carousel-content {
    overflow: hidden !important;
}
.wholesale-list {
    table {
        text-align: center;
        th,
        td {
            width: auto;
            text-align: left;
        }
        tr {
            height: 35px;
        }
    }
}

::ng-deep .owl-theme .owl-nav {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: -32px;
}

::ng-deep .owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    height: 32px;
    width: 28px;
    z-index: 100;
}
