<div>
    <section>
        <nextpro-user-navbar />
    </section>
    <section>
        <div class="pt-3 flex justify-center items-center lg:gap-6 gap-3">
            <a href="/product" class="text-[#15677F] lg:text-[15px] text-[14px] no-underline">
                {{ 'homepage-product.navigation.products-services' | translate }}
            </a>
            <a
                href="/supplier-listing"
                class="underline-offset-[6px] underline decoration-[3px] text-[#101010] font-bold lg:text-[21px] text-[18px]"
            >
                {{ 'homepage-supplier.navigation.supplier' | translate }}
            </a>
        </div>
        <div class="flex justify-center items-center gap-1">
            <nextpro-user-global-search />
            <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2">
                <img src="/assets/icons/Cart-details.svg" alt="" class="w-9" />
            </div>
            <div class="lg:block hidden">
                <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2" (click)="toggleModal()">
                    <img src="/assets/icons/Filter.svg" alt="" class="w-9" />
                </div>
            </div>
            <div class="lg:hidden block">
                <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2" (click)="openBottomSheet()">
                    <img src="/assets/icons/Filter.svg" alt="" class="w-9" />
                </div>
            </div>
        </div>
        @if (showModal) {
            <nextpro-user-filter [toggleModal]="toggleModal" />
        }
    </section>
    <div class="mt-4 flex lg:flex-row flex-col justify-center gap-5">
        <mat-chip-grid
            #chipGrid
            aria-label="Supplier selection"
            class="border-[1px] border-[#e0e0e0] lg:w-[800px] mx-4 bg-white"
        >
            <input
                placeholder="{{ 'homepage-supplier.navigation.selected-supplier' | translate }}"
                [matChipInputFor]="chipGrid"
                [matChipInputAddOnBlur]="true"
                disabled
                class="bg-white px-4 h-[36px]"
            />
        </mat-chip-grid>
        <div class="flex justify-between mx-4 gap-5">
            <button mat-stroked-button class="border !border-[#15677F] w-[180px] h-[40px]">
                <div class="text-[#15677F] pt-[2px]">
                    {{ 'homepage-supplier.navigation.bidding-btn' | translate }}
                </div>
            </button>
            <button mat-raised-button class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F] w-[180px] h-[40px]">
                <div class="text-white pt-[2px]">
                    {{ 'homepage-supplier.navigation.request-for-quote-btn' | translate }}
                </div>
            </button>
        </div>
    </div>
    <section class="mt-6 background-discounted-products">
        <nextpro-user-discounted-products [productsList]="productFlashSales" />
    </section>

    <section>
        @for (supplier of suppliers; track supplier) {
            <ng-container>
                <nextpro-user-list-supplier
                    [supplier]="supplier"
                    [selectedSuppliers]="selectedSuppliers"
                    (toggleSupplier)="onToggleSupplier($event)"
                />
            </ng-container>
        }
    </section>

    @if (pagination) {
        <mat-paginator
            class="table-paginator"
            showFirstLastButtons
            [pageSizeOptions]="[10, 20, 50, 100]"
            [pageIndex]="pagination.page - 1"
            [length]="pagination.totalCount"
            (page)="onPageChange($event)"
        />
    }
    <section>
        <nextpro-user-detailed-footer />
    </section>
</div>
