<div class="lg:px-[70px] bg-[#042833] px-4 py-4">
    <div class="flex lg:flex-row flex-col justify-around lg:items-center items-start">
        <div>
            <div class="flex gap-2 items-center">
                <img src="/assets/icons/Logo-Footer.svg" alt="nextpro-logo" class="w-[150px]" />
                <div class="inline-block border-r border-[#97a4a8] h-[18px]"></div>
                <div class="text-[#97a4a8] lg:text-[14px] text-[15px]">The best find</div>
            </div>
            <div class="mt-1 text-[#a4a3a3] lg:text-[14px] text-[15px]">2020 NextPro - All rights reserved</div>
        </div>

        <div>
            <div class="lg:text-[14px] text-[15px] flex flex-col mt-7 lg:leading-6">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-dich-vu/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.termsOfService' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/chinh-sach-bao-mat-quy-dinh-quyen-va-nghia-vu/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.privacy' | translate }}</div>
                </a>
                <div class="mt-1 flex items-center gap-4">
                    <a target="_blank" href="https://www.facebook.com/groups/procurementvietnam">
                        <img src="/assets/icons/facebook.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://www.youtube.com/@nextpro-platform">
                        <img src="/assets/icons/youtube.svg" alt="" />
                    </a>
                    <a target="_blank" href="https://vn.linkedin.com/company/nextpro-platform">
                        <img src="/assets/icons/linkedin.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="lg:text-[14px] text-[15px] mt-6 lg:leading-6">
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/chinh-sach-dang-san-pham-nha-cung-cap/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.postingProductPolicy' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-dich-vu-yeu-cau-chao-gia/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.postingRfxPolicy' | translate }}</div>
                </a>
                <a
                    target="_blank"
                    href="https://discovery.nextpro.io/dieu-khoan-va-dieu-kien/"
                    class="text-[#F9F6F6] no-underline"
                >
                    <div>{{ 'footer.termAndService' | translate }}</div>
                </a>
            </div>
        </div>

        <div class="flex flex-col gap-3 mt-3">
            <a target="_blank" href="http://online.gov.vn/Home/WebDetails/77028">
                <img src="/assets/icons/Image.svg" alt="nextpro-logo" class="lg:w-[100px] w-[130px]" />
            </a>
            <a href="">
                <img src="/assets/icons/IOS-App.svg" alt="nextpro-logo" class="lg:w-[100px] w-[130px]" />
            </a>
            <a href="">
                <img src="/assets/icons/Android-App.svg" alt="nextpro-logo" class="lg:w-[100px] w-[130px]" />
            </a>
        </div>
    </div>
</div>
