<div>
    <nextpro-user-navbar-login />
    <div class="mt-20 flex flex-col justify-center items-center gap-3">
        <img src="/assets/icons/verified-check-svgrepo-com.svg" alt="" class="w-20" />
        <div class="mt-2 text-[34px] font-bold">Thank You For Creating An Account</div>
        <div class="text-gray-500">
            A confirmation email has been sent to your email account. Once you have clicked that link to verify your
            email address, you will be sent an account verification email.
        </div>
        <div class="text-gray-500">
            Please find that email, click on the link and you will be able to login to this site.
        </div>
    </div>
</div>
