<div class="mt-2 relative flex justify-center items-center">
    <input
        placeholder="{{ 'homepage-product.navigation.product-service-keywords' | translate }}"
        class="lg:w-[610px] w-[270px] h-[40px] lg:rounded-[20px] rounded-[25px] border-[1px] border-[#e0e0e0] pl-[20px] pr-[50px] focus:outline-none placeholder:text-xs lg:placeholder:text-base"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        (input)="onSearch()"
        (click)="onInputClick()"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionsScroll)="onOptionsScroll()">
        @if (isLoading()) {
            <mat-option [value]="'loading'">
                {{ 'common.loading' | translate }}
            </mat-option>
        }
        @if (options.length > 0) {
            @for (option of options; track $index) {
                <mat-option [value]="option.value" (click)="onSelectOption(option)">
                    {{ option.label }}
                </mat-option>
            }
        }
        @if (options.length === 0 && !isLoading()) {
            <mat-option>
                {{ 'home.noResult' | translate }}
            </mat-option>
        }
    </mat-autocomplete>
    <div
        class="absolute right-2 flex justify-center items-center lg:w-[62px] w-[50px] lg:h-8 h-9 bg-[#0B3440] p-2 rounded-full cursor-pointer"
    >
        <img src="/assets/icons/search-svgrepo-com.svg" alt="" class="w-6" />
    </div>
</div>
