@if (loadingService.checkLoading(['getHistoryPayment'])) {
    <app-loading [backdrop]="true" />
}
<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer [disableClose]="true" [opened]="!!detail" mode="over" position="end" class="!w-full">
        @if (detail) {
            <nextpro-admin-payment-supplier-main-detail
                [mode]="detail.mode"
                [data]="detail.data"
                [onCloseDrawer]="handleCloseDetailDrawer"
                [refetch]="table.refetch"
            />
        }
    </mat-drawer>
    <mat-drawer class="!w-auto" mode="side" position="start" [disableClose]="true" [opened]="table.config.showFilter">
        <app-filter
            formClass="grid grid-cols-2 gap-2"
            [onFilter]="table.handleFilter"
            [formConfig]="table.config.filterForm"
            [onCloseDrawer]="table.toggleFilterDrawer"
        />
    </mat-drawer>
    <mat-drawer-content>
        <app-table
            [attr.name]="table.name"
            [isLoading]="loadingService.checkLoading(['getHistoryPayments'])"
            [extendHeight]="184"
            [columns]="table.config.columns"
            [data]="table.state.data"
            [pagination]="table.state.pagination"
            [onShowFilter]="table.toggleFilterDrawer"
            [onSort]="table.handleSort"
            [onPageChange]="table.handlePageChange"
        />
    </mat-drawer-content>
</mat-drawer-container>
