<div class="mt-4 grid lg:grid-cols-6 grid-cols-2 gap-3 lg:gap-5">
    @for (product of sameProductsCategory; track product) {
        <div
            [id]="product.id"
            class="flex flex-col justify-between lg:w-[200px] h-auto pb-2 bg-white border text-[13px] hover:shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] lg:transform lg:transition lg:duration-250 lg:hover:scale-105 lg:cursor-pointer"
            (click)="goToSameCategoryProduct(product.id)"
        >
            @if (product.initialPrice && product.discountedPrice) {
                <div class="absolute lg:right-0 bg-[#F80808] w-auto p-[2px] text-[#fff] text-[12px]">
                    -{{
                        ((product.initialPrice - product.discountedPrice) / product.initialPrice) * 100
                            | number: '1.0-2'
                    }}%
                </div>
            }
            <img [src]="product.picture" alt="" class="w-[182px] h-[182px] mx-auto" />
            @if (product.discountedPrice > 0) {
                <img src="/assets/icons/voucher-repay.svg" alt="" class="w-full" />
            }
            <div class="p-2">
                <div class="text-sm">{{ product.productName }}</div>
                <div class="mt-3 flex items-center gap-2 font-semibold">
                    <div class="text-[11px] line-through">
                        {{ product.initialPrice | currency: 'VND' }}
                    </div>
                    <div class="text-[12px] font-semibold">
                        -&ensp;{{ product.discountedPrice | currency: 'VND' }}<span class="text-[10px]"> VND</span>
                    </div>
                </div>
                <div class="mt-2 text-sm">Tối thiểu:&ensp;{{ product.minimumOrderQuantity }}&ensp;cái</div>
            </div>
            <div class="px-2 flex items-center justify-between">
                <div class="text-xs font-semibold">{{ product.originOfProduction }}</div>
                <div class="flex gap-2">
                    <img src="/assets/icons/verify.svg" alt="" />
                    <img src="/assets/icons/voucher.svg" alt="" class="size-5" />
                </div>
            </div>
        </div>
    }
</div>
