<section class="mb-8">
    <nextpro-user-navbar />
</section>

<section>
    <div class="dashboard-container lg:container mx-auto flex gap-6">
        <app-sidebar></app-sidebar>
        <div class="container mx-auto p-4">
            <!-- Thông tin sinh viên -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4">
                <h2 class="text-xl font-bold mb-2">Thông tin sinh viên</h2>
                <div class="flex p-4 justify-start gap-4">
                    <img src="" alt="Student Image" class="w-24 h-24 rounded-full mr-4">
                    <div class="flex-1">
                        <p>MSSV: <span class="font-semibold">2001215717</span></p>
                        <p>Họ tên: <span class="font-semibold">{{shortName}}</span></p>
                        <p>Giới tính: <span class="font-semibold">Nam</span></p>
                        <p>Ngày sinh: <span class="font-semibold">19/12/2003</span></p>
                        <p>Nơi sinh: <span class="font-semibold">Tỉnh Quảng Ngãi</span></p>
                    </div>
                    <div class="flex-1">
                        <p>Lớp học: <span class="font-semibold">12DHTH01</span></p>
                        <p>Khóa học: <span class="font-semibold">2021</span></p>
                        <p>Bậc đào tạo: <span class="font-semibold">Đại học</span></p>
                        <p>Loại hình đào tạo: <span class="font-semibold">Chính quy</span></p>
                        <p>Ngành: <span class="font-semibold">Công nghệ thông tin</span></p>
                    </div>
                </div>
            </div>

            <!-- Các nút chức năng -->
            <div class="grid grid-cols-4 gap-4 mb-4">
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <p>Nhắc nhở</p>
                </div>
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <p>Kết quả học tập</p>
                </div>
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <p>Đăng kí đồ án</p>
                </div>
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <p>Nhóm đồ án</p>
                </div>
                <!-- Thêm các nút khác tương tự -->
            </div>

            <!-- Kết quả học tập -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4">
                <h2 class="text-xl font-bold mb-2">Kết quả học tập</h2>
                <div>
                    <p>Chưa có dữ liệu hiển thị</p>
                </div>

            </div>
        </div>
    </div>
</section>