<section class="mb-8">
    <nextpro-user-navbar />
</section>

<section>
    <div class="dashboard-container lg:container mx-auto flex gap-6">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>

        <!-- Main Content -->
        <div class="flex-1 p-4">
            <!-- Thông tin nhóm -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4">
                <h2 class="text-xl font-bold mb-4">Thông tin Nhóm</h2>

                <!-- Kiểm tra xem dữ liệu nhóm đã được tải chưa -->
                <div class="flex flex-col gap-4">
                    <div class="border-b pb-4 mb-4">
                        <!--  <p><strong>Tên nhóm:</strong> {{ name || 'Chưa có tên' }}</p>
                        <p><strong>Nhóm trưởng:</strong> {{ mssv?.leader || 'Chưa có nhóm trưởng' }}</p>
                        <p><strong>Số thành viên:</strong> {{ email || 0 }}</p>
 -->
                        <!-- Danh sách thành viên -->
                        <p><strong>Thành viên:</strong></p>
                        <ul class="list-disc pl-5" *ngIf="students.length > 0; else noMembers">
                            <li *ngFor="let student of students">
                                <strong>{{ student.user.shortName }}</strong> - {{ student.user.email }} - {{ student.user.lop }} -
                                {{ student.user.gender }} - {{student.role}}
                            </li>
                        </ul>
                        <ng-template #noMembers>
                            <p class="text-gray-500">Chưa có thành viên nào trong nhóm.</p>
                        </ng-template>
                        
                    </div>
                </div>

                <!-- Trường hợp không có nhóm -->
                <ng-template #noGroups>
                    <p class="text-gray-500">Chưa có nhóm nào được tham gia.</p>
                </ng-template>
            </div>
        </div>
    </div>
</section>
