<section class="mb-8">
    <nextpro-user-navbar />
</section>

<section>
    <div class="dashboard-container lg:container mx-auto flex gap-6">
        <app-sidebar></app-sidebar>
        <div class="container mx-auto p-4">
            <!-- Thông tin nhóm -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4">
                <h2 class="text-xl font-bold mb-2">Thông tin Nhóm</h2>
                <div class="flex p-4 justify-start gap-4">
                    <div class="flex-1">
                        <p>Tên nhóm: <span class="font-semibold"> Nhóm 123 </span> </p>
                        <p>Nhóm trưởng: <span class="font-semibold">Nguyễn Văn A</span></p>
                        <p>Số thành viên <span class="font-semibold">4</span> </p>
                        <p>Thành viên:</p>
                        <ul class="list-disc pl-5"> 
                            <li>Trần Thị B0</li>
                            <li>Lê Văn C</li>
                            <li>Phạm Thị D</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Thông tin đề tài -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4">
                <h2 class="text-xl font-bold mb-2">Thông tin Đồ án</h2>
                <!-- <div>
                    <p>Đề tài đã đăng ký: <span class="font-semibold">Chưa chọn</span></p>
                </div> -->

                <div class="flex flex-col gap-2">
                    <p>Mã Đồ án: <span class="font-semibold">DA001</span></p>
                    <p>Tên Đồ án: <span class="font-semibold">Phát triển ứng dụng web</span></p>
                    <p>Mô tả: <span class="font-semibold">Xây dựng ứng dụng web cho quản lý sinh viên</span></p>
                    <p>Trạng Thái: <span class="font-semibold">Đang thực hiện</span></p>
                    <p>Yêu Cầu: <span class="font-semibold">Kiến thức về HTML, CSS, JavaScript</span></p>
                    <p>Giảng viên phụ trách: <span class="font-semibold">Vũ Văn Vinh</span></p>
                    <p>Thông tin liên lạc: <span class="font-semibold">0123456789</span></p>
                </div>
            </div>
        </div>
    </div>
</section>