<!-- <header class="bg-white shadow-md">
    <div class=" items-center flex justify-between bg-white p-4  container">
        
        <div class="flex items-center">
            <img src="/assets/images/sv_logo_dashboard.png" alt="Logo" class="h-10 mr-4 object-contain">
        </div>
    
        
        <div class="flex items-center space-x-6">
            <a href="#" class="text-gray-600 hover:text-blue-500 flex items-center">
                <i class="fas fa-home mr-1"></i>Trang chủ
            </a>
            <a href="#" class="text-gray-600 hover:text-blue-500 flex items-center relative">
                <i class="fas fa-bell mr-1"></i>Tin tức
                <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full px-1">99+</span>
            </a>
            <div class="flex items-center">
                <img src="user-avatar.png" alt="User" class="h-8 w-8 rounded-full mr-2 hidden">
                <span class="text-gray-600">Trương Quốc Đạt</span>
                <i class="fas fa-chevron-down ml-1"></i>
            </div>
        </div>
    </div>
</header> -->

<div class="flex items-center justify-between h-[76px] bg-gray-400 shadow-md lg:px-14 px-3">
    <div class="hidden lg:flex lg:items-center lg:gap-10">
        <a [routerLink]="['/dashboard']">
            <img src="/assets/images/sv_logo_dashboard.png" alt="nextpro-logo" class="h-[40px]" />
        </a>
        <nav class="flex gap-8">
            <!-- @for (menu of menus; track menu) {
            <div>
                <a [routerLink]="[menu.path]" [class.active]="isActive(menu.activePaths)"
                    (click)="redirectTo(menu.path)"
                    class="no-underline text-[#fff] font-light">{{ menu.label | translate }}</a>
            </div>
            } -->
        </nav>
    </div>

    <div class="lg:hidden flex items-center justify-around gap-2">
        <div class="flex items-center gap-2">
            <button [matMenuTriggerFor]="menu">
                <img src="/assets/icons/navbar/Hamburger.svg" alt="" class="w-auto" />
            </button>
        </div>
        <div>
            <mat-menu #menu="matMenu" class="!bg-gradient-to-r from-[#3CC9C7] to-[#15677f]">
                <div mat-menu-item class="!text-white !font-light">{{ 'navbar.search' | translate }}</div>
                <div mat-menu-item class="!text-white !font-light">{{ 'navbar.rfx' | translate }}</div>
                <div mat-menu-item class="!text-white !font-light">{{ 'navbar.bidding' | translate }}</div>
                <div mat-menu-item class="!text-white !font-light">{{ 'navbar.order' | translate }}</div>
            </mat-menu>
        </div>
        <div>
            <img src="/assets/icons/navbar/Logo-Nextpro-Responsive.svg" alt="nextpro-logo" class="h-[45px]" />
        </div>
    </div>

    <div class="flex items-center gap-3">
        <app-language-switch />
        <!-- <div class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px] cursor-pointer">
            <span class="material-symbols-outlined">notifications</span>
            <div>{{ 'navbar.personal.notification' | translate }}</div>
        </div> -->
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu" (mouseenter)="openMenu(notificationTrigger)">
            <mat-icon>notifications</mat-icon>
        </button>

        <!-- Menu thông báo -->
        <mat-menu #notificationMenu="matMenu" class="!max-w-full !max-h-86 !overflow-x-hidden">
            <ng-template matMenuContent>
                <div *ngIf="notifications.length > 0; else noNotifications" class="p-4 bg-white shadow-lg rounded-lg">
                    <div
                        *ngFor="let notification of notifications"
                        class="flex items-center justify-between mb-2 p-2 border-b gap-2"
                    >
                        <!-- Hiển thị thông báo -->
                        <p class="text-gray-800">{{ notification.message }}</p>
                        <div class="flex gap-2">
                            <!-- Nút chấp nhận yêu cầu tham gia -->
                            <button
                                *ngIf="notification.type === 'invitation'"
                                (click)="acceptJoinRequest(notification.id)"
                                class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-600"
                            >
                                ✓
                            </button>
                            <!-- Nút chấp nhận yêu cầu gia nhập nhóm của leader -->
                            <button
                                *ngIf="notification.type === 'joinRequest'"
                                (click)="acceptJoinRequest(notification.id)"
                                class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600"
                            >
                                ✓
                            </button>
                        </div>
                    </div>
                </div>
                <ng-template #noNotifications>
                    <p class="text-center text-gray-500">Không có thông báo</p>
                </ng-template>
            </ng-template>
        </mat-menu>

        @if (isLoggedIn()) {
            <div class="flex items-center">
                <button mat-button [matMenuTriggerFor]="menuPersonal">
                    <div class="flex items-center gap-1">
                        @if (user?.picture) {
                            <img [src]="user.picture" alt="" class="w-7" />
                        } @else {
                            <img
                                src="/assets/icons/navbar/person-crop-circle-fill-svgrepo-com.svg"
                                alt=""
                                class="w-7"
                            />
                        }
                        @if (user?.shortName) {
                            <div class="text-white">{{ user.shortName }}</div>
                        }
                        <img src="/assets/icons/navbar/down-arrow-svgrepo-com.svg" alt="" />
                    </div>
                </button>
                <mat-menu #menuPersonal="matMenu" class="!bg-gradient-to-r from-[#3CC9C7] to-[#15677f]">
                    <div mat-menu-item>
                        <div
                            (click)="openChangePasswordDialog()"
                            class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px]"
                        >
                            <span class="material-symbols-outlined">lock</span>
                            <div>Đổi mật khẩu</div>
                        </div>
                    </div>
                    <div mat-menu-item>
                        <div
                            (click)="onLogout()"
                            class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px]"
                        >
                            <span class="material-symbols-outlined">logout</span>
                            <div>Đăng xuất</div>
                        </div>
                    </div>
                </mat-menu>

                <!-- Modal Change Password -->
                <ng-template #changePasswordDialog>
                    <div class="password-dialog">
                        <h2>Đổi mật khẩu</h2>
                        <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
                            <mat-form-field appearance="fill">
                                <mat-label>Mật khẩu mới</mat-label>
                                <input
                                    matInput
                                    type="password"
                                    name="newPassword"
                                    [(ngModel)]="passwords.newPassword"
                                    required
                                />
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Xác nhận mật khẩu mới</mat-label>
                                <input
                                    matInput
                                    type="password"
                                    name="confirmPassword"
                                    [(ngModel)]="passwords.confirmPassword"
                                    required
                                />
                            </mat-form-field>

                            <button
                                mat-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="changePasswordForm.invalid"
                            >
                                Lưu thay đổi
                            </button>
                        </form>
                    </div>
                </ng-template>
            </div>
        } @else {
            <div class="lg:block hidden">
                <button mat-stroked-button class="!border-[#3BC7C6]">
                    <a [routerLink]="['/auth']" fragment="login" class="!no-underline">
                        <div class="flex items-center gap-2">
                            <img
                                src="/assets/icons/navbar/person-crop-circle-fill-svgrepo-com.svg"
                                alt=""
                                class="w-7"
                            />
                            <div class="text-white pt-[2px]">
                                {{ 'navbar.login-btn' | translate }}
                            </div>
                        </div>
                    </a>
                </button>
            </div>
            <div class="lg:hidden border-2 border-[#3BC7C6] rounded-full size-8 flex justify-center items-center">
                <a [routerLink]="['/auth']" fragment="login" class="!no-underline">
                    <img
                        src="/assets/icons/navbar/person-crop-circle-fill-svgrepo-com.svg"
                        alt=""
                        class="size-6 object-contain"
                    />
                </a>
            </div>
            <div>
                <button
                    mat-raised-button
                    [matMenuTriggerFor]="menuRegister"
                    class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F]"
                >
                    <div class="flex items-center gap-2">
                        <img src="/assets/icons/navbar/pen-square-svgrepo-com.svg" alt="" class="lg:w-7 w-5" />
                        <div class="text-white pt-[2px]">{{ 'navbar.register-btn' | translate }}</div>
                    </div>
                </button>
            </div>
            <div>
                <mat-menu #menuRegister="matMenu" class="!bg-gradient-to-r from-[#3CC9C7] to-[#15677f]">
                    <div mat-menu-item>
                        <a
                            [routerLink]="['/auth/register/become-buyer']"
                            class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px]"
                        >
                            <span class="material-symbols-outlined">shopping_cart</span>
                            <div>{{ 'navbar.register-navbar.become-buyer' | translate }}</div>
                        </a>
                    </div>
                    <div mat-menu-item>
                        <a
                            [routerLink]="['/auth/register/become-supplier']"
                            class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px]"
                        >
                            <span class="material-symbols-outlined">trolley</span>
                            <div>{{ 'navbar.register-navbar.become-supplier' | translate }}</div>
                        </a>
                    </div>
                    <div mat-menu-item>
                        <a
                            [routerLink]="['/auth']"
                            fragment="invite"
                            class="flex items-center gap-3 no-underline text-[#ffffff] !text-[15px]"
                        >
                            <span class="material-symbols-outlined">person_add</span>
                            <div>{{ 'navbar.register-navbar.invite' | translate }}</div>
                        </a>
                    </div>
                </mat-menu>
            </div>
        }
    </div>
</div>
