<div>
    <section>
        <nextpro-user-navbar />
    </section>
    <div id="allFamilyCodes"></div>
    <section class="sticky top-0 z-[100] background-homepage pb-2">
        <div class="pt-2">
            <div class="lg:pt-3 flex justify-center items-center lg:gap-6 gap-3">
                <a href="/product" class="text-[#fff] lg:text-[15px] text-[14px] no-underline">
                    {{ 'homepage-product.navigation.products-services' | translate }}
                </a>
                <a
                    href="/supplier"
                    class="underline-offset-[6px] underline decoration-[2px] text-[#fff] font-bold lg:text-[21px] text-[19px]"
                >
                    {{ 'homepage-supplier.navigation.supplier' | translate }}
                </a>
            </div>
        </div>
        <div class="flex justify-center items-center gap-2">
            <nextpro-user-global-search />
            <div class="mt-2 cursor-pointer">
                <img src="/assets/icons/cart-shopping-svgrepo-com.svg" alt="" class="w-9" />
            </div>
        </div>

        <div>
            <div class="mt-2 flex lg:flex-row flex-col justify-center items-center gap-4">
                <div
                    class="border-[1px] border-[#e0e0e0] lg:w-[800px] w-[343px] pl-[20px] bg-white"
                    style="min-height: 35px; max-height: 105px; overflow-y: auto"
                >
                    <span *ngIf="selectedSuppliers.length === 0" style="color: darkgray">
                        {{ 'homepage-supplier.navigation.selected-supplier' | translate }}
                    </span>
                    <mat-chip-grid #chipGrid aria-label="Supplier selection" style="display: flex; flex-wrap: wrap">
                        @for (sup of selectedSuppliers; track sup) {
                            <mat-chip-row (removed)="remove(sup)" style="pointer-events: none">
                                {{ sup.companyFullName }}
                                <button
                                    matChipRemove
                                    [attr.aria-label]="'remove ' + sup.companyFullName"
                                    style="pointer-events: auto"
                                >
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        }
                    </mat-chip-grid>
                </div>

                <div class="flex gap-x-4 px-2 lg:mt-0 mt-[-5px]">
                    <div>
                        <button mat-stroked-button class="!border-2 !border-[#3BC7C6] lg:w-[180px] w-[150px] h-[40px]">
                            <div class="text-white pt-[2px]">
                                {{ 'homepage-supplier.navigation.bidding-btn' | translate }}
                            </div>
                        </button>
                    </div>
                    <div>
                        <button
                            mat-raised-button
                            class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F] w-[180px] h-[40px]"
                        >
                            <div class="text-white pt-[2px]">
                                {{ 'homepage-supplier.navigation.request-for-quote-btn' | translate }}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lg:block hidden background-homepage pb-5">
        <div class="h-[73px] bg-[#fff] border border-[#15677F] rounded-lg flex justify-evenly w-auto mx-16">
            <a href="#" class="flex items-center gap-2 no-underline">
                <img src="/assets/icons/price-list.svg" alt="" class="w-[50px]" />
                <div class="text-[17px] text-[#15677F]">
                    {{ 'homepage-product.navigation.request-for-quote' | translate }}
                </div>
            </a>

            <div class="border-r border-[#15677F]"></div>

            <a href="#" class="flex items-center gap-2 no-underline">
                <img src="/assets/icons/Bidding.svg" alt="" class="w-[50px]" />
                <div class="text-[17px] text-[#15677F]">
                    {{ 'homepage-supplier.navigation.online-bidding' | translate }}
                </div>
            </a>
            <div class="border-r border-[#15677F]"></div>
            <a href="#" class="flex items-center gap-2 no-underline">
                <img src="/assets/icons/Vefify.svg" alt="" class="w-[50px]" />
                <div class="text-[17px] text-[#15677F]">
                    {{ 'homepage-supplier.navigation.trusted-suppliers' | translate }}
                </div>
            </a>
            <div class="border-r border-[#15677F]"></div>
            <a href="#" class="flex items-center gap-2 no-underline">
                <img src="/assets/icons/Sercurity.svg" alt="" class="w-10" />
                <div class="text-[17px] text-[#15677F]">
                    {{ 'homepage-supplier.navigation.order-protection' | translate }}
                </div>
            </a>
        </div>
    </section>

    <section>
        <nextpro-user-family-code [familyCodes]="familyCodes" />
    </section>
    <section>
        <div class="lg:mt-3 relative">
            <owl-carousel-o [options]="customOptions">
                @for (slide of slides; track slide) {
                    <ng-container>
                        <ng-template carouselSlide>
                            <img [src]="slide.image" class="lg:my-[-100px]" />
                        </ng-template>
                    </ng-container>
                }
            </owl-carousel-o>

            <div class="absolute bottom-16 right-4 z-50">
                <button
                    class="bg-black lg:text-2xl text-lg text-white font-semibold py-2 px-4 rounded-3xl lg:w-[300px]"
                    (click)="navigateFindNow('allFamilyCodes')"
                >
                    {{ 'homepage-product.find-now-btn' | translate }}
                </button>
            </div>
        </div>
    </section>
    <section class="relative">
        @if (loadingService.checkLoading(['getPartners'])) {
            <app-loading />
        }
        <nextpro-user-our-partner [ourPartners]="ourPartners" />
    </section>
    <section class="relative min-h-[500px]">
        @if (loadingService.checkLoading(['getSuppliers'])) {
            <app-loading />
        }
        @for (supplier of suppliers; track supplier.id) {
            <nextpro-user-list-supplier
                [supplier]="supplier"
                [selectedSuppliers]="selectedSuppliers"
                (toggleSupplier)="onToggleSupplier($event)"
            />
        }
    </section>
    @if (suppliersHasNextPage) {
        <section class="mt-8 py-10 flex justify-center items-center">
            <button
                (click)="loadMoreSuppliers()"
                mat-stroked-button
                class="!border-[#15677F] w-[150px] h-[35px] relative"
            >
                @if (loadingService.checkLoading(['getSuppliers'])) {
                    <app-loading [diameter]="25" />
                }
                <div class="!text-[#15677F] pt-[4px]">
                    {{ 'homepage-product.load-more-btn' | translate }}
                </div>
            </button>
        </section>
    }
    <section class="relative">
        @if (loadingService.checkLoading(['getPartners'])) {
            <app-loading />
        }
        <nextpro-user-our-partner [ourPartners]="ourPartners" />
    </section>
    <section>
        <nextpro-user-footer />
    </section>
</div>
