<div>
    <div class="lg:pt-3 flex justify-center items-center lg:gap-6 gap-3">
        <a href="/product" class="text-[#fff] lg:text-[15px] text-[14px] no-underline">
            {{ 'homepage-product.navigation.products-services' | translate }}
        </a>
        <a
            href="/supplier"
            class="underline-offset-[6px] underline decoration-[3px] text-[#fff] font-bold lg:text-[21px] text-[19px]"
        >
            {{ 'homepage-supplier.navigation.supplier' | translate }}
        </a>
    </div>
</div>
