<div
    [id]="product.id"
    class="flex flex-col relative justify-between lg:w-[200px] min-h-[351px] pb-2 bg-white border text-[13px] hover:shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] lg:transform lg:transition lg:duration-250 lg:hover:scale-105 lg:cursor-pointer"
>
    @if (product.initialPrice && product.discountedPrice) {
        <div class="absolute lg:right-0 right-4 bg-[#F80808] w-auto p-[2px] text-[#fff] text-[12px]">
            -{{ ((product.initialPrice - product.discountedPrice) / product.initialPrice) * 100 | number: '1.0-0' }}%
        </div>
    }
    <img [src]="product.picture" alt="" class="w-full relative h-[182px]" (click)="goToProductDetail(product.id)" />
    @if (product.discountedPrice > 0) {
        <img src="/assets/icons/voucher-repay.svg" alt="" class="w-full" />
    }
    <div
        *ngIf="showDescription"
        class="absolute -top-1/4 w-[200%] z-10 text-white p-1 opacity-95 bg-gray-600 rounded-md overflow-hidden line-clamp-4"
    >
        {{ product.description }}
    </div>
    <div class="p-2 relative">
        <div class="text-[13px] line-clamp-2 cursor-pointer" (click)="toggleDescription()">
            {{ product.productName }}
        </div>
        <div class="mt-3 flex items-center gap-2 text-[#15677F]">
            <div class="text-[11px] line-through">
                {{ product.initialPrice | currency: '' : '' : '1.0-0' }}
            </div>
            <div class="text-[11px] font-semibold">
                -&ensp;{{ product.discountedPrice | currency: '' : '' : '1.0-0' }}&ensp;<span class="text-[10px]"
                    >VND</span
                >
            </div>
        </div>
        <div>
            {{ 'product.product-min' | translate }}: {{ product.minimumOrderQuantity }}
            {{ product.unitOfMeasure?.translations[getTranslationIndex()].name }}
        </div>
        <div>{{ product.originOfProduction }}</div>
    </div>
    <div class="px-2 flex items-center justify-between">
        <div class="card flex justify-content-center">
            <app-rating class="text-[16px] w-[16px] h-[16px]" />
        </div>
        <div class="flex gap-x-1.5">
            <img src="/assets/icons/authentic.svg" alt="" />
            <img src="/assets/icons/verify.svg" alt="" />
            <img src="/assets/icons/voucher.svg" alt="" class="size-5" />
        </div>
    </div>
</div>
