@for (product of productInfo; track product) {
    <div [id]="product.id" class="lg:mx-32 mx-6 mt-3">
        <div class="my-4 font-semibold">{{ product.companyName }}</div>
        <div class="border h-auto rounded-xl shadow-form p-4 text-base">
            <div class="flex justify-between lg:items-center items-start lg:gap-x-20 lg:px-8">
                <mat-checkbox />
                <div class="lg:block hidden lg:line-clamp-2 line-clamp-4 text-sm">{{ product.description }}</div>
                <img [src]="product.productImages" alt="" class="lg:hidden block size-36 border border-[#707070] p-2" />
                <button mat-icon-button (click)="onDeleteProduct(product)">
                    <img src="/assets/icons/trash.svg" alt="" />
                </button>
                
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 items-end">
                <div class="mt-6 flex lg:flex-row flex-col lg:items-end gap-x-6">
                    <img [src]="product.productImages" alt="" class="lg:block hidden size-36" />
                    <div class="lg:hidden block">
                        <div class="!line-clamp-4 text-lg px-3">{{ product.description }}</div>
                    </div>
                    <div class="flex lg:flex-col flex-row justify-between gap-y-8 mb-2 px-3 mt-3">
                        <div>
                            Ngày nhận: <span class="font-semibold">{{ product.receivedDate }}</span>
                        </div>
                        <div class="flex gap-2">
                            <img src="/assets/icons/authentic.svg" alt="" />
                            <img src="/assets/icons/verify.svg" alt="" />
                            <img src="/assets/icons/voucher.svg" alt="" class="size-5" />
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:px-12 px-3 gap-y-6 mt-3">
                    <div class="flex justify-between">
                        <div>Giá:</div>
                        <div class="font-semibold">{{ product.price | currency: '' : '' : '1.0-0' }}&#x20;VNĐ</div>
                    </div>
                    <nextpro-user-quantity-selector [label]="'Số lượng'" [quantity]="product.quantity" (quantityChange)="onQuantityChange($event, product)"/>
                    <div class="flex justify-between">
                        <div>Thành tiền:</div>
                        <div class="font-semibold">{{ product.totalPrice | currency: '' : '' : '1.0-0' }}&#x20;VNĐ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="lg:mx-32 mx-6 mt-3" *ngIf="productInfo.length > 0">
    <div class="mt-5 lg:text-end lg:px-16">
        <button 
        mat-raised-button 
        class="!bg-gradient-to-l !from-[#0B3440] !to-[#15677F] lg:w-28 w-full"
        (click)="onBuyNow()">
            <div class="!text-white lg:!text-sm !text-base">Mua ngay</div>
        </button>
    </div>
</div>

