<div class="lg:mx-32 mx-6 mt-3">
    @for (item of orderList; track item) {
        <div [id]="item.id" class="border lg:h-[242px] h-auto rounded-xl shadow-form p-4 text-sm">
            <div class="flex lg:flex-row flex-col gap-2 lg:justify-between lg:items-center">
                <div>
                    {{ 'order.list.order-code' | translate }}
                    <span class="font-semibold">
                        {{ item.orderCode }}
                    </span>
                </div>
                <div class="font-semibold lg:text-sm text-lg">{{ item.companyName }}</div>
                <button mat-raised-button class="w-[150px] !bg-[#f24405]" (click)="onDetailClick(item.order)">
                    <div class="pt-[2px] text-white">{{ 'order.list.detail-btn' | translate }}</div>
                </button>
            </div>
            <div class="mt-3 flex lg:flex-row flex-col gap-7">
                <img [src]="item.productImages" alt="" class="lg:size-28 size-40 mx-auto" />
                <div>
                    <div class="lg:line-clamp-2 line-clamp-4 lg:text-sm text-lg">{{ item.description }}</div>
                    <div class="mt-3 flex gap-20 lg:text-sm text-lg">
                        <div class="font-semibold">{{ item.quantity }}&#x20;cái</div>
                        <div class="font-semibold">{{ item.price | currency: 'VND' }}&#x20;VNĐ</div>
                    </div>
                    <div class="mt-3 flex lg:flex-row flex-col justify-between lg:text-sm text-lg gap-2">
                        <div>
                            {{ 'order.list.received-date' | translate }}:&#x20;
                            <span class="font-semibold">{{ item.receivedDate }}</span>
                        </div>
                        <div>
                            {{ 'order.list.status' | translate }}:&#x20;
                            <span class="font-semibold" *ngIf="!isSupplier">{{ item.status }}</span>
                            <ng-container *ngIf="isSupplier">
                                <select [(ngModel)]="item.status" (change)="onStatusChange(item)">
                                    <option [value]="orderStatus.PENDING">{{ 'Pending' | translate }}</option>
                                    <option [value]="orderStatus.DELIVERING">{{ 'Delivering' | translate }}</option>
                                    <option [value]="orderStatus.COMPLETED">{{ 'Completed' | translate }}</option>
                                </select>
                            </ng-container>
                        </div>

                        <div class="flex gap-1 items-center">
                            <img src="/assets/icons/voucher.svg" alt="" class="size-5" />
                            <div>{{ 'order.list.total-price' | translate }}:</div>
                            <div class="font-semibold">
                                {{ item.totalPrice | currency: '' : '' : '1.0-0' }}&#x20;VNĐ
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCancelModal" class="modal-overlay">
                        <div class="modal-content">
                            <h2>{{ 'order.cancel-confirm' | translate }}</h2>
                            <p>{{ 'order.cancel-confirm-message' | translate }}</p>
                            <div class="modal-actions">
                                <button mat-button (click)="confirmCancel(selectedOrder)">{{ 'order.yes' | translate }}</button>
                                <button mat-button (click)="closeCancelModal()">{{ 'order.no' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="hidden lg:mt-5 lg:flex lg:items-center lg:justify-end lg:gap-4">
                        <button mat-stroked-button class="!border-[#15677F] w-[150px]" [disabled]="item.status !== orderStatus.PENDING && item.status !== orderStatus.CANCELLED" (click)="openCancelModal(item)" >
                            {{ 'order.cancel-btn' | translate }}
                        </button>
                        <button mat-stroked-button class="!border-[#15677F] w-[150px]" [disabled]="item.status !== orderStatus.COMPLETED && item.status !== orderStatus.DELIVERING">
                            {{ 'order.complain-btn' | translate }}
                        </button>
                        <button mat-stroked-button class="!border-[#15677F] w-[150px]" [disabled]="item.status !== orderStatus.COMPLETED">
                            {{ 'order.feedback-btn' | translate }}
                        </button>
                        <button mat-stroked-button class="!border-[#15677F] w-[150px]" [disabled]="item.status !== orderStatus.COMPLETED || !item.isPaid">
                            {{ 'order.invoice-btn' | translate }}
                        </button>
                        <button mat-raised-button color="primary" class="w-[150px]" (click)="onReOrder()" [disabled]="item.status !== orderStatus.COMPLETED && item.status !== orderStatus.CANCELLED && item.status !== orderStatus.PAID">
                            {{ 'order.re-order-btn' | translate }}
                        </button>
                    </div>
                    
                    <div class="lg:hidden mt-6 flex flex-col gap-y-3">
                        <div class="flex gap-4">
                            <button mat-stroked-button class="!border-[#15677F] w-full" [disabled]="item.status !== orderStatus.PENDING && item.status !== orderStatus.CANCELLED" (click)="openCancelModal(item)">
                                {{ 'order.cancel-btn' | translate }}
                            </button>
                            <button mat-stroked-button class="!border-[#15677F] w-full" [disabled]="item.status !== orderStatus.COMPLETED && item.status !== orderStatus.DELIVERING">
                                {{ 'order.complain-btn' | translate }}
                            </button>
                        </div>
                        <div class="flex gap-4">
                            <button mat-stroked-button class="!border-[#15677F] w-full" [disabled]="item.status !== orderStatus.COMPLETED">
                                {{ 'order.feedback-btn' | translate }}
                            </button>
                            <button mat-stroked-button class="!border-[#15677F] w-full" [disabled]="item.status !== orderStatus.COMPLETED || !item.isPaid">
                                {{ 'order.invoice-btn' | translate }}
                            </button>
                        </div>
                        <button mat-raised-button color="primary" class="w-full" (click)="onReOrder()" [disabled]="item.status !== orderStatus.COMPLETED && item.status !== orderStatus.CANCELLED">
                            {{ 'order.re-order-btn' | translate }}
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>
