<div>
    <section>
        <nextpro-user-navbar />
    </section>
    <section class="min-h-screen lg:mt-4 lg:mb-6 my-5 lg:px-32 px-4">
        <div
            class="lg:text-lg text-base underline decoration-2 decoration-[#15677F] underline-offset-8 font-semibold cursor-pointer"
        >
            {{ 'customer-support.title' | translate }}
        </div>
        <nextpro-user-complaints-refunds-supplier />
    </section>
    <section>
        <nextpro-user-detailed-footer />
    </section>
</div>
