<div>
    <section>
        <nextpro-user-navbar />
    </section>
    <section>
        <div class="pt-3 flex justify-center items-center lg:gap-6 gap-3">
            <a
                [routerLink]="['/product/list']"
                class="underline-offset-[6px] underline decoration-[3px] text-[#101010] font-bold lg:text-[21px] text-[18px]"
            >
                {{ 'homepage-product.navigation.products-services' | translate }}
            </a>
            <a [routerLink]="['/supplier/list']" class="text-[#15677F] lg:text-[15px] text-[14px] no-underline">
                {{ 'homepage-supplier.navigation.supplier' | translate }}
            </a>
        </div>
        <div class="flex justify-center items-center gap-1">
            <nextpro-user-global-search />
            <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2">
                <a [routerLink]="['/cart']">
                    <img src="/assets/icons/Cart-details.svg" alt="" class="w-9" />
                </a>
            </div>
            <div class="lg:block hidden">
                <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2" (click)="toggleModal()">
                    <img src="/assets/icons/Filter.svg" alt="" class="w-9" />
                </div>
            </div>
            <div class="lg:hidden block">
                <div class="mt-2 cursor-pointer hover:bg-gray-100 hover:rounded-full p-2" (click)="openBottomSheet()">
                    <img src="/assets/icons/Filter.svg" alt="" class="w-9" />
                </div>
            </div>
        </div>
        @if (showModal) {
            <nextpro-user-filter [toggleModal]="toggleModal" />
        }
    </section>
    <section class="mt-6 background-discounted-products">
        <nextpro-user-discounted-products [productsList]="productFlashSales" />
    </section>
    <section class="lg:mx-20 mx-3 my-10">
        <nextpro-user-product-list-component [productList]="products" />
    </section>
    @if (pagination) {
        <mat-paginator
            class="table-paginator"
            showFirstLastButtons
            [pageSizeOptions]="[10, 20, 50, 100]"
            [pageIndex]="pagination.page - 1"
            [length]="pagination.totalCount"
            (page)="onPageChange($event)"
        />
    }
    <section>
        <nextpro-user-detailed-footer />
    </section>
</div>
