<mat-tab-group syncTabsWithAnchor>
    <mat-tab label="legalstatus"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.legalStatus.legalStatus' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-legal-status-list />
    </mat-tab>
    <mat-tab label="bankaccount"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.bankAccount.bankAccount' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-bank-account-list />
    </mat-tab>
    <mat-tab label="sanctioncheck"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.sanctionCheck' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-sanction-check-list />
    </mat-tab>
    <mat-tab label="certificationmanagement"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.certiManagement' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-certification-management-list />
    </mat-tab>
    <mat-tab label="duediligence"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.dueDiligence' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-due-diligence-list />
    </mat-tab>
    <mat-tab label="financialriskmanagement"
        ><ng-template mat-tab-label>
            <div class="font-semibold ml-2 text-sm text-[#15677f]">
                {{ 'sicp.finRiskManagement' | translate }}
            </div>
        </ng-template>
        <nextpro-admin-sicp-financial-risk-management-list />
    </mat-tab>
</mat-tab-group>
