<mat-drawer-container [hasBackdrop]="true" class="my-10 h-[450px]">
    <mat-drawer [disableClose]="true" [opened]="!!detail" mode="over" position="end" class="!w-full">
        <nextpro-user-buyer-profile-sub-account-form
            [mode]="detail?.mode"
            [data]="detail?.data"
            [onCloseDrawer]="handleCloseDetailDrawer"
            [refetch]="table.refetch"
        />
    </mat-drawer>
    <mat-drawer-content>
        <div class="relative">
            <app-table
                [attr.name]="table.name"
                class="!h-auto"
                [isLoading]="loadingService.checkLoading(['getBuyerSubAccounts'])"
                [columns]="table.config.columns"
                [data]="table.state.data"
            />
            <div class="mt-5 footer-fixed">
                <button mat-raised-button color="primary" (click)="handleCreate()">
                    <mat-icon>add</mat-icon>
                    {{ 'button.create' | translate | uppercase }}
                </button>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
